.html, body {
    margin: 0;
    background-color: #1e2c2c;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: #339999;
}
header {
    display: flex;
    height: 300px;
    justify-content: space-between;
    background-color:green;
    align-items: center;
    background-image: url(../img/header.JPG);
    max-width: 100%;
    background-size: cover;
}
.header-title {
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header-photo {
    margin-left: 30px;
    margin-right: 30px;
    background-color: bisque;
    height: 100%;
    box-shadow: 0px -20px 50px black;
}
.header-photo img{
    height: 100%;
    background-size: cover;
}
.text-box {
    text-overflow: clip;
}

.content {
    margin: 20px;
}
.info-block {
    margin: 10px;
}
.info-block-title {
    color: white;
    width: 100%;
}
h3 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
b, h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}
a {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: white;
}
li , p {
    list-style-type: none;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}
pre {
    background-color: #99CCCC;
    overflow: scroll;
}
.html-code {
    display: flex;
}
.footer {
    padding-bottom: 20px;
    margin: 20px;
}
